# ignore build folder and .dart_tool/
build/
.dart_tool/

# ignored files
*.apk
*.bin
*.dill
*.wav
*.mp3

# ignore private files
flashcard--app-firebase-adminsdk.json
lib/services/get_server_key.dart
google-services.json
GoogleService-Info.plist
